:root {
    --background-colour: #191919;
    --primary-colour: #FFF05A;
    --secondary-colour: #FFAA5A;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background-color: var(--background-colour);
    color: var(--primary-colour)
}

header {
    top: 0;
    left: 0;
    text-align: left;
    margin: 10px;
    width: 100%;
}

main {
    padding: 20px;
    overflow: auto;
}

.title {
    color: var(--primary-colour);
}

.subtitle {
    color: var(--secondary-colour);
}

#search-input {
    width: 96%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid var(--primary-colour);
    border-radius: 4px;
    background-color: var(--background-colour);
    color: var(--secondary-colour);
}

.tkv {
    border: 2px solid var(--primary-colour);
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
    width: auto;
}

.tkv-tags {
    color: var(--secondary-colour);
}
